<div class="card mx-auto text-center border-light" style="width: 18rem;">
  <img src="../../favicon.ico"  class="card-img-top" alt="Angular Logo">
  <div class="card-body">
    <h5 class="card-title">My-Blog</h5>
    <p class="card.text">
      This is a personal Blog basic for a user built with Angular and Bootstrap/Scully site generator
    </p>
    <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
    <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
  </div>
</div>
